/* .title-board h1 {
    font-size: 36px;
}

.title-board p {
    font-size: 12px;
    margin-bottom: 10px;
}

.title-board {
    color: #fff;
    text-align: center;
    margin-bottom: 80px;
} */










.top-article h1 {

}

.top-article p {

}

.top-article {
    background-color: violet;
    color: #474747;
    text-align: center;
}

.con-article {
    background-color: tomato;
    width: 1110px;
}

.article {
    padding-top: 80px;
    padding-bottom: 80px;
}

.box .bottom p {
    background-color: white;
    font-size: 14px;
    padding: .5rem 1rem;
    margin-top: 30px;
    border-radius: 25px 0 25px 0;
}

.box .top .text p {
    font-size: 12px;
}

.box .top .text h1 {
    font-size: 28px;
}

.box .top .text {
    color: #fff;
    margin-left: 20px;
}

.box .top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    /* background-color: violet; */
    margin-right: 30px;
}

.content-board {
    display: flex;
}

.title-board h1 {
    font-size: 36px;
}

.title-board p {
    font-size: 12px;
    margin-bottom: 10px;
}

.title-board {
    color: #fff;
    text-align: center;
    margin-bottom: 80px;
}

.con-board {
    /* background-color: tomato; */
    width: 1110px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.bg-board {
    background-image: url(../img/bg-brod.png);
    height: 536px;
    display: flex;
    justify-content: center;
}


.profile-card p {
    font-size: 14px;
}

.profile-card h2 {
    font-size: 18px;
}

.text-profile-card {
    color: #474747;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-card {
    /* background-color: violet; */
    text-align: center;
    border: 1px solid #B5B5B5;
}

.title-profile-card h1 {
    font-size: 36px;
}

.title-profile-card p {
    font-size: 12px;
    margin-bottom: 10px;
}

.title-profile-card {
    color: #474747;
    text-align: center;
    margin-bottom: 80px;
}

.detail-info .text p {
    font-size: 16px;
}

.detail-info .text h2 {
    font-size: 23px;
    margin-bottom: 10px;
}

.detail-info .text {
    color: #474747;
    margin-left: 20px;
}

.detail-info {
    display: flex;
    margin-bottom: 15px;
    /* background-color: blue; */
}

.p-info {
    margin-left: 95px;
    margin-right: 30px;
    /* background-color: violet; */
    width: 445px;
    height: 333px;
}

.con-info {
    /* background-color: tomato; */
    height: 333px;
    display: flex;
}

.title-info h1 {
    font-size: 36px;
}

.title-info p {
    font-size: 12px;
    margin-bottom: 10px;
}

.title-info {
    color: #474747;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.container-info {
    background-color: #fff;
    width: 1110px;
    height: 590px;
    border-radius: 50px 0 50px 0;
}

.background-info {
    background-image: url(../img/background-gfacaa968e_1920\ 1.png);
    height: 793px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h3 a {
    text-decoration: none;
    color: #fff;
    background-color: #828BF4;
    padding: .5rem 1rem;
    border-radius: 10px;
    font-size: 14px;
}

.card p {
    color: #474747;
    font-size: 14px;
    margin-bottom: 30px;
}

.card h2 {
    color: #474747;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 14px;
}

.card {
    /* background-color: violet; */
    width: 255px;
    height: 321px;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.content-card-bottom {
    /* background-color: tomato; */
    display: flex;
    justify-content: space-between;
}

.content-card-top p {
    color: #474747;
    font-size: 14px;
}

.content-card-top h1 {
    color: #474747;
    font-size: 48px;
    margin-bottom: 14px;
}

.content-card-top {
    /* background-color: violet; */
    padding-bottom: 80px;
}

.container-card {
    /* background-color: tomato; */
    width: 1110px;
}

.content-card {
    /* background-color: tomato; */
    padding: 80px;
    height: 647px;
    display: flex;
    justify-content: center;
}

.tristique {
    border: 1px solid #fff;
    padding: 1.2rem 2.2rem;
    border-radius: 12px;
}

.egestas {
    background-color: #828BF4;
    padding: 1.3rem 2.8rem;
    border-radius: 12px;
    margin-right: 30px;
}

.content-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.content-btn {
    /* background-color: tomato; */
    margin-top: 72px;
    width: 600px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-text p {
    font-size: 14px;
}

.content-text h1 {
    font-size: 62px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.content-text h2 {
    font-size: 36px;
}

.content-text {
    color: #fff;
    text-align: center;
}

.content-container {
    /* background-color: violet; */
    margin-top: 200px;
    width: 600px;
    height: 320px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.logo {
    color: #fff;
}

.nav-bottom {
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #796B9B;
}

.nav-btn {
    color: #fff;
    background-color: #828BF4;
    padding: .7rem 1.5rem;
    border-radius: 12px;
    font-size: 16px;
}

.call p {
    color: #fff;
    font-size: 10px;
}

.call {
    display: flex;
    padding: 2rem 0;
}

.nav-top {
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-head {
    /* background-color: tomato; */
    width: 1110px;
    margin: 0 auto;
}

.background-head {
    background-image: url(../img/background.png);
    height: 878px;
    display: flex;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}